body {
  @include display(flex);
  @include flex-direction(column);
  background-color: $background-color;
  min-height: 100vh;
  position: relative;
}

main {
  @include flex(1);
  @include outer-container;

  @include media($desktop) {
    max-width: 803px;
  }
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
