.project {
  @include display(flex);
  background: $white none no-repeat center center;
  border: $default-border;
  flex-direction: column;
  height: 260px;
  margin-bottom: $base-spacing;

  @include media($desktop) {
    @include span-columns(4);
    @include display(flex);
  }

  img {
    margin: auto;
  }

  h3 {
    margin-bottom: 20px;
    text-align: center;

    a {
      @include header-link-style;
    }
  }
}
