footer {
  background-color: $dark-gray;
  color: $medium-light-gray;
  font: $font-footer;
  margin-top: $big-spacing;
  padding: $base-spacing;
  text-align: center;

  a:hover {
    text-decoration: underline;
  }
}
