body {
  background-color: $background-color;
  position: relative;
}

main {
  @include outer-container;

  @include media($desktop) {
    max-width: 803px;
  }
}

html,
body,
main,
nav.main,
div.track {
  overflow-x: hidden;
}
